<h1><%= @city.name %></h1>
<%= button_to 'New Post', new_city_post_path(@city.id), method: 'get' %> <br> <br>
<div>
	<%= image_tag(@city.image_url) %>
</div>
<% @city.posts.each do |post| %>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
        <strong>Post Name: </strong><%= link_to post.name, user_post_path(post.user_id, post) %><br>
          <strong>by user: <strong> <%= post.user.email%><br>
          <%= post.content%><br><br>
					<%= link_to "Edit", edit_city_post_path(@city.id, post.id) %> |
					<%= link_to "Delete", city_post_path(post.id), method: :delete %>
      </div>
    </div>
  </div>
</div>
<% end %>
